<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="org.keclipse.rcp.preferences.KubeEclipsePreferences"
             id="org.keclipse.rcp.preferences.KubeEclipsePreferences"
             name="Kubeclipse">
       </page>
    </extension>
    <extension
         point="org.eclipse.ui.views">
         <category
            name="KubeEclipse"
            id="org.keclipse.k8">
     	 </category>
     	 <view
            name="K8 Nodes"
            inject="true"
            allowMultiple="true"
            icon="icons/page_refresh.gif"
            category="org.keclipse.k8"
            class="org.keclipse.rcp.view.table.KubeNodes"
            id="org.keclipse.rcp.view.table.KubeNodes">
      	</view>
      	<view
            name="K8 Pods"
            inject="true"
            allowMultiple="true"
            icon="icons/page_code.gif"
            category="org.keclipse.k8"
            class="org.keclipse.rcp.view.table.KubePods"
            id="org.keclipse.rcp.view.table.KubePods">
      	</view>
      	<view
            name="K8 Services"
            inject="true"
            allowMultiple="true"
            icon="icons/page_dynamic.gif"
            category="org.keclipse.k8"
            class="org.keclipse.rcp.view.table.KubeServices"
            id="org.keclipse.rcp.view.table.KubeServices">
      	</view>
      	<view
            name="K8 Endpoints"
            inject="true"
            allowMultiple="true"
            icon="icons/page_alert.gif"
            category="org.keclipse.k8"
            class="org.keclipse.rcp.view.table.KubeEndPoints"
            id="org.keclipse.rcp.view.table.KubeEndPoints">
      	</view>
      	<view
            name="K8 PersistentVolumes"
            inject="true"
            allowMultiple="true"
            icon="icons/page.gif"
            category="org.keclipse.k8"
            class="org.keclipse.rcp.view.table.KubePersistentVolumes"
            id="org.keclipse.rcp.view.table.KubePersistentVolumes">
      	</view>
      	<view
            name="K8 PersistentVolumeClaims"
            inject="true"
            allowMultiple="true"
            icon="icons/pageflip.gif"
            category="org.keclipse.k8"
            class="org.keclipse.rcp.view.table.KubePersistentVolumeClaims"
            id="org.keclipse.rcp.view.table.KubePersistentVolumeClaims">
      	</view>
      	</extension>
      	<extension
         point="org.eclipse.ui.perspectives">
      	<perspective
            class="org.keclipse.rcp.perspective.KubeNodesPodsPerspective"
            icon="icons/control-forward.gif"
            id="org.keclipse.rcp.perspective.KubeNodesPodsPerspective"
            name="K8 Nodes and Pods">
      	</perspective>
      	<perspective
            class="org.keclipse.rcp.perspective.KubePersistencePerspective"
            icon="icons/page_settings.gif"
            id="org.keclipse.rcp.perspective.KubePersistencePerspective"
            name="K8 PV and PVC">
      	</perspective>
      	<perspective
            class="org.keclipse.rcp.perspective.KubeServiceEndpointsPerspective"
            icon="icons/page_wizard.gif"
            id="org.keclipse.rcp.perspective.KubeServiceEndpointsPerspective"
            name="K8 Services and Endpoints">
      	</perspective>
      </extension>
</plugin>
