<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="org.keclipse.rcp.preferences.KubeEclipsePreferences"
             id="org.keclipse.rcp.preferences.KubeEclipsePreferences"
             name="Kubeclipse">
       </page>
    </extension>
    <extension
         point="org.eclipse.ui.views">
         <category
            name="KubeEclipse"
            id="org.keclipse.k8">
     	 </category>
     	 <view
            name="K8 Nodes"
            inject="true"
            allowMultiple="true"
            icon="icons/page_refresh.gif"
            category="org.keclipse.k8"
            class="org.keclipse.rcp.view.table.KubeNodes"
            id="org.keclipse.rcp.view.table.KubeNodes">
      	</view>
      	<view
            name="K8 Pods"
            inject="true"
            allowMultiple="true"
            icon="icons/page_code.gif"
            category="org.keclipse.k8"
            class="org.keclipse.rcp.view.table.KubePods"
            id="org.keclipse.rcp.view.table.KubePods">
      	</view>
      	</extension>
</plugin>
